.app {
  color: var(--text-primary);
  height: 100%;
  font-size: large;
  font-weight: bold;
  transition: all .5s;
  background-color: var(--background);
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}