@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #F8F9FA;
  --text-primary: #212529;
  --text-secondary: #778DA9;
  --accent_1: #778DA9;
  --accent_2: #ADB5BD;
  --nav_shadow: 0px 0px 12px 2px rgba(177, 183, 161, 0.3);
}

[data-theme='dark'] {
  --background: #16101B;
  --text-primary: #F1FAEE;
  --text-secondary: #797B84;
  --accent_1: #38EC6A;
  --accent_2: #7D78BD;
  --nav_shadow: 0px 0px 12px 2px rgba(38, 30, 49, 0.3);
}

[data-theme='light'] {
  --background: #F8F9FA;
  --text-primary: #212529;
  --text-secondary: #778DA9;
  --accent_1: #778DA9;
  --accent_2: #ADB5BD;
  --nav_shadow: 0px 0px 12px 2px rgba(177, 183, 161, 0.3);

}

[data-theme='nature'] {
  --background: #FEFAE0;
  --text-primary: #1E212B;
  --text-secondary: #6B618E;
  --accent_1: #A4B470;
  --accent_2: #BD7F41;
  --nav_shadow: 0px 0px 12px 2px rgba(223, 211, 130, 0.3);

}

[data-theme='bubblegum_light'] {
  --background: #FEFAED;
  --text-primary: #1E212B;
  --text-secondary: #B188C9;
  --accent_1: #E2847C;
  --accent_2: #42AE98;
  --nav_shadow: 0px 0px 12px 2px rgba(189, 178, 142, 0.3);
}

[data-theme='bubblegum_dark'] {
  --background: #1E212B;
  --text-primary: #FAF3DD;
  --text-secondary: #B188C9;
  --accent_1: #E2847C;
  --accent_2: #59D7BD;
  --nav_shadow: 0px 0px 12px 2px rgba(80, 88, 115, 0.3);
}

[data-theme='gray'] {
  --background: #C9CCCF;
  --text-primary: #0D1B2A;
  --text-secondary: #778DA9;
  --accent_1: #415A77;
  --accent_2: #1B263B;
  --nav_shadow: 0px 0px 12px 2px rgba(164, 166, 158, 0.3);
}

[data-theme='halloween'] {
  --background: #534E5A;
  --text-primary: #2C032C;
  --text-secondary: #D8B67A;
  --accent_1: #C67154;
  --accent_2: #977BC1;
  --nav_shadow: 0px 0px 12px 2px rgba(38, 30, 49, 0.3);
}